name: Convert .wiki docs to static pages using Hugo
on:
  pull_request:
    types:
      - opened
#     - cron:  '51 * * * 1-5'
jobs:
  Build:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout Wiki
      uses: actions/checkout@v2
      with:
        repository: '${{ github.repository }}.wiki'
        path: 'wiki'
    - name: Checkout Main Repo
      uses: actions/checkout@v2
      with:
        repository: '${{ github.repository }}'
        path: 'main'
#   - name: Print main repo contents
#     run: ls -la main/docs && ls -la wiki
#   - name: Define a Dockerfile
#     run: |
#       echo -e "# Container image that runs your code \n
#       FROM klakegg/hugo:0.88.0-ext-ubuntu-onbuild \n
#       COPY docs/main/* /md_files/ \n
#       # Code file to execute when the docker container starts up (entrypoint.sh) \n
#       ENTRYPOINT ["/entrypoint.sh"]" > /tmp/Dockerfile
#       echo
#       cat /tmp/Dockerfile
#   - name: Build a Hugo Docker Image
#     run: echo "not actually building anything just yet"
    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: '0.88.0'
        extended: true
    - name: Creating a site and pulling a theme
      run: |
        hugo new site mydocs &>/dev/null; cd mydocs
        git clone https://github.com/mbrt-yeah/uwe-uwe-hugo.git themes/uwe-uwe
#       hugo -D -v --theme uwe-uwe -d ../main/docs/
#   - name: Create docs file if it's not there
#     run: |
    - name: Copy wiki files to Hugo content folder and add metadata
      run: |
        rsync -avz --exclude '.git' wiki/ mydocs/content/
        cd mydocs/content/
        for md in $(ls *.md); do
          ARTICLE_NAME=$(echo $md | sed 's/.md//')
          DATE=$(date --iso-8601=seconds)
          sed -i '1 s/^/---\ntitle: "'$ARTICLE_NAME'"\ndate: "'$DATE'"\ndraft: "false"\n---\n\n/' $md
        done
    - name: Creating static HTML files
      run: |
        cd mydocs
        hugo -D -v --theme uwe-uwe -d ../main/docs/
    - name: Pushing docs to repo
      run: |
        cd main
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add docs
        git commit -m "$(date)" || echo #this is to change the return code to 0
        git push